@media only screen and (min-width: 60em) {

    .navigation li a {
        font-size: 1.75em;
        white-space: nowrap;
    }

    main{
        max-width: 95%;
    }
    .topSection{
        display:flex;
        flex-direction:row;

    }
    .sdTempleInfo{
        display:flex;
        flex-direction:column;
        width:30%;
        padding: 10px;
        background-color:#FFC861;
    }
    .sdTempleImg{
        display:flex;
        width:auto;
       
      
    }
    .templeImg{
        width: 250px;
    }

    .midSection{
        display:flex;
        flex-direction:row;
    }
    .actionContact{
        display:flex;
        flex-direction: row;
        
        background-color: white;
    }
    .lowerSection{
        display:flex;
        flex-direction:row;
        background-color:white;
    }
    .templeImg1, .activitiesList, .templeImg2{
        display:flex;
        flex-direction:column;
        width: 35%;
        padding:10px;
    
    } 

    /*---------------------------Styling for Temples Page----------------------------*/
.gridWrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    padding:10px;
    
}
.templeInfo{
    display:grid;
    width:auto;
    margin-left: 5px;
}

    
}