/*	font-family: 'Alice', serif; - Body
	font-family: 'Fondamento', cursive; - Headings
	font-family: 'Italianno', cursive; - Special
*/

header,
footer {

    font-family: 'Fondamento', cursive;
    border-radius: 5px;
    background-color: #ADD1FF;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.motto {
    font-family: 'Italianno', cursive;
    letter-spacing: 1pt;
    color: #576880;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 550;
    padding:5px;
}

nav #hamberger {
    display: block;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

nav {
    margin: 0 auto;
    background-color: #576880;
    font-family: 'Italianno', cursive;
    line-height: 1.75;

}


.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(83, 102, 88, 0.3);
    text-align: center;
    font-size: 2em;
    white-space: nowrap;

}


li .active {
    background-color: rgba(83, 102, 88, 0.1);
    color: #FFC861;
    font-weight: bold;
}

.navigation li a:hover {
    background-color: #ADD1FF;
    color: rgb(83, 102, 88);
}

.responsive li {
    display: block;
}

.announcement {
    display: none;
}

.showNow {
    display: block;
}

main{
    padding:10px;
}
main h2{
    font-family: 'Fondamento', cursive;
}
main p{
    font-family: 'Alice', serif; 

}
.topSection{
    display:flex;
    flex-direction:row;
    background-color:#FFC861;
}
.sdTempleInfo{
    display:flex;
    flex-direction:column;
    width:30%;
    padding: 10px;
}
.sdTempleImg{
    display:flex;
    width:70%;
    height: auto;
}


.actionContact{
    width:35%;
    background-color: white;
}
.actionBtn{
    padding:50px;
}

.reserveBtn{
    background-color: #FFC861;
    color:red;
    border-radius: 5px;
    font-size: xx-large;
}
.contactInfo, .description{
    width:100%;
    padding:20px;
    border:solid black;
    box-shadow: 5px 10px #576880;
    margin:10px;
    
}

.lowerSection{
    display:flex;
    flex-direction:row;
    background-color:white;
}
.templeImg1, .activitiesList, .templeImg2{
    display:flex;
    flex-direction:column;
    width: 35%;
    padding:10px;

} 
.templeImage{
    box-shadow: 5px 10px #576880;

}
.activitiesList{
    width:75%;
    padding:30px;
    border:solid black;
    box-shadow: 5px 10px #576880;
    align-content: center;
    justify-content: center;

}
.activitiesList li{
    font-family: 'Alice', serif;
    font-size: 1.2rem;
}

/*.gridWrapper {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:100px 100px 100px 100px 100px;
    
  
}
.sdTempleImg{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width:60%;
    height: auto;
    border:solid black;

}

.sdTempleInfo{
    grid-column: 3;
    grid-row: 1 / 4;
    border:solid black;
}

.actionBtn{
    grid-column: 4;
    grid-row: 1;
    border:solid black;
}
.contactInfo{
    grid-column: 4;
    grid-row: 2;
    border:solid black;

}
.templeImg1{
    grid-column: 1;
    grid-row: 4;
    border:solid black;
}
.templeActivities{
    grid-column: 2;
    grid-row: 5;
    border:solid black;
}
.templeImg2{
    grid-column: 3;
    grid-row: 4;
    border:solid black;
}
.templeImg3{
    grid-column: 4;
    grid-row: 3;
    border:solid black;
}*/




footer {
    text-align: center;
    padding: 1rem;
}
