@import url('https://fonts.googleapis.com/css?family=Concert+One|Courgette|Gochi+Hand|Kalam|Shadows+Into+Light&display=swap');

header, footer{
    background-color:palevioletred;
    
    font-family:'Courgette', Candara, Gadget, serif;
    line-height:2.75em;
    width:960px;
    
}
header{
    font-size:2.25em;
    text-align:left;
}
header img{
    float: right;
    float: top;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px black;
}
footer{
    font-size:1.5;
    text-align:center;
}

header, nav, footer, main{
    margin:1.25rem auto;
    max-width: 760px;
}

h2{
    text-align: left;
    font-family:'Kalam', Candara, Gadget, serif;
    font-size:2.0em;
    margin: 1.25rem auto;
    text-decoration:underline;
    
}

nav li{
    font-family:'Kalam', Candara, Gadget, serif;
    font-size:2.75;
}

