@import url('https://fonts.googleapis.com/css?family=Concert+One|Courgette|Gochi+Hand|Kalam|Shadows+Into+Light&display=swap');

header, footer{
    background-color:palevioletred;
    text-align:left;
    font-family:'Courgette', Candara, Gadget, serif;
    line-height:2.75em;
    width:960px;
}
header{
    font-size:2.25em;
}
footer{
    font-size:1.5;
}

header, nav, footer, main{
    margin:1.25rem auto;
    max-width: 760px;
}
h2{
    text-align: left;
font-family:'Kalam', Candara, Gadget, serif;
    font-size:2.25em;
    margin: 1.25rem auto;
    
}

header img{
    float: right;
    float: top;
    margin-bottom 35px;
    border: 2px solid #000;
}
ul{
    font-family:'Kalam', Candara, Gadget, serif;
    font-size:2.75;
}

