@media only screen and (min-width: 64em) {

    .navigation li a {
        /* padding: .6rem 1rem;*/
        font-size: 1.25em;
        white-space: nowrap;
        

    }

    main div {
      /*  margin: 15px 25px;*/
    }

    footer {
        margin: 15px 25px;
    }

    #heroPic{
       /* width:auto;
        margin:10px auto;
        padding: 5px 30px;*/
    }

}