@media only screen and (min-width: 60em) {

    .navigation li a {
        font-size: 1.25em;
        white-space: nowrap;
    }

    main .heroSection .picSizeLabel {
        top: 5px;
        left: 830px;

    }


    footer {
        margin: 15px 25px;
    }

    /*----------------------------------Gallery-----------------------------------------*/
    .galleryGrid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .galleryItem {
        box-shadow: 0 0 30px grey;
    }

    /*-------------------------Styling for Home Page Town Info Blocks------------------------*/
    div.townInfo{
        display: flex;
        flex-direction: row;
    }

    .townInfo section{
        display:flex;
        flex-direction: column;
    }
    .townInfo section:nth-child(3){
    margin-left: 20px;
    margin-right: 20px;
    }
.townInfo section:nth-child(odd){
    display:flex;
    flex-direction: column;
}
.townInfo section:nth-child(even){
    display:flex;
    flex-direction: column;

}

.prestonMap{
    max-width: 300px;
}
.townInfo img{
max-width: 215px;


}

}


