@media only screen and (min-width: 37.5em) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    header img {
        float: left;
        float: top;
        border: 1px solid #000;
        box-shadow: 5px 5px 5px black;
    }

    footer {
        text-align: left;
    }
}